<table class="table">
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Nombre</th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Sexo</th>
            <th scope="col">Dni</th>
            <th scope="col">Direccion</th>
            <th scope="col">Cargo</th>
            <th scope="col">Acciones</th>
        </tr>  
    </thead>
    <tbody>
            <tr *ngFor="let elemento of data">
                <th scope="row">{{elemento.id_empleado}}</th>
                <td>{{elemento.nom_empleado}}</td>
                <td>{{elemento.apl_empleado}}</td>
                <td>{{elemento.edad_empleado}}</td>
                <td>{{elemento.objSexo.nom_sexo}}</td>
                <td>{{elemento.dni_empleado}}</td>
                <td>{{elemento.dir_empleado}}</td>
                <td>{{elemento.objCargo.nom_cargo}}</td>
                <td>
                    <button class="btn btn-primary m-2" (click)="actualizar(elemento.id_empleado)">Actualizar</button>
                    <button class="btn btn-danger" (click)="eliminar(elemento.id_empleado)">Eliminar</button>
                </td>
            </tr>
    </tbody>
</table>

<button class="btn btn-primary" (click)="nuevo()">Nuevo Empleado</button>
