<div class="card" style="margin: auto;">
    <br>
    <form [formGroup]="frmProducto" (ngSubmit)="buscarCategoria()" style="margin-bottom: 20px; display: flex; align-items: center;">
        <label for="id_categoria" style="margin-right: 10px;">Categoría:</label>
        <select formControlName="id_categoria" class="form-select" aria-label="Default select example" style="margin-right: 10px;">
            <option value="0">Seleccione una categoría</option>
            <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">{{ categoria.nom_categoria }}</option>
        </select>
        <button class="btn btn-primary" (click)="buscarCategoria()">Buscar</button>
    </form>    
    <div style="padding: 10px; text-align: center;">
        <button class="btn btn-primary" (click)="nuevo()">Nuevo Producto</button>
    </div>
</div>
<table class="table" style="text-align:center;color:lightgray;">
    <thead><tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Producto</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Stock</th>
                    <th scope="col">Categoria</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Acciones</th>
                </tr>  
            </thead>
            <tbody>
                <tr *ngFor="let elemento of data">
                    <th scope="row">{{elemento.id_producto}}</th>
                    <td>{{elemento.des_producto}}</td>
                    <td>{{elemento.pre_producto}}</td>
                    <td>{{elemento.stk_producto}}</td>
                    <td>{{elemento.objcategoria.nom_categoria}}</td>
                    <td>{{elemento.objProveedor.nom_proveedor}}</td>
                    <td>
                        <button class="btn btn-warning" (click)="actualizar(elemento.id_producto)">Actualizar</button>
                        &nbsp;
                        <button class="btn btn-danger" (click)="eliminar(elemento.id_producto)">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
