<div class="card">
    <div class="card-body">
        <form [formGroup]="frmProducto" (ngSubmit)="guardarProducto()">
            <div>
                <label class="form-label">
                    Codigo
                </label>
                <input type="text" class="form-control" placeholder="Ingrese codigo" name="id_producto"
                formControlName="id_producto" readonly>
            </div>
            <div>
                <label class="form-label">
                    Descripcion
                </label>
                <input type="text" class="form-control" placeholder="Ingrese Descripcion" name="des_producto"
                formControlName="des_producto">
            </div>
            <div>
                <label class="form-label">
                    Precio
                </label>
                <input type="text" class="form-control" placeholder="Ingrese Precio" name="pre_producto"
                formControlName="pre_producto">
            </div>
            <div>
                <label class="form-label">
                    Stock
                </label>
                <input type="text" class="form-control" placeholder="Ingrese Stock" name="stk_producto"
                formControlName="stk_producto">
            </div>
            <div>
                <label class="form-label">
                    Categoria
                </label>
                <select name="id_categoria" class="form-control" formControlName="id_categoria">
                    <option value="0">Seleccione la categoria</option>
                    <option *ngFor="let categoria of categorias" [value]="categoria.id_categoria">{{ categoria.nom_categoria }}</option>
                </select>
            </div>
            <div>
                <label class="form-label">
                    Proveedor
                </label>
                <select name="id_proveedor" class="form-control" formControlName="id_proveedor">
                    <option value="0">Seleccione el proveedor</option>
                    <option *ngFor="let proveedor of proveedors" [value]="proveedor.id_proveedor">{{ proveedor.nom_proveedor}}</option>
                </select>
            </div>
            <button class="btn btn-primary mt-2">Guardar</button>
        </form>
    </div>
</div>

