<div class="container">
    <table class="table mx-auto mt-0">
    <thead>
        <tr>
            <th scope="col">Codigo</th>
            <th scope="col">Cliente</th>
            <th scope="col">Dni</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
        </tr>  
    </thead>
    <tbody>
            <tr *ngFor="let elemento of data">
                <th scope="row">{{elemento.id_cliente}}</th>
                <td>{{elemento.noap_cliente}}</td>
                <td>{{elemento.dni_cliente}}</td>
                <td >{{elemento.tlf_cliente}}</td>
                <td>
                    <button class="btn btn-primary mr-2" (click)="actualizar(elemento.id_cliente)">Actualizar</button>
                    <button class="btn btn-danger m-2" (click)="eliminar(elemento.id_cliente)">Eliminar</button>
                </td>
            </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="nuevo()">Nuevo Cliente</button>
</div>

