<div style="text-align: center;margin-bottom: 5px; border: 1px solid #ccc; padding: 10px;">
    <button class="btn btn-primary" (click)="nuevo()">Nuevo Proveedor</button>
</div>
<table class="table" style="text-align:center;color:lightgray;">
    <thead>
                <tr>
                    <th scope="col">Codigo</th>
                    <th scope="col">Proveedor</th>
                    <th scope="col">Acciones</th>
                </tr>  
            </thead>
            <tbody>
                <tr *ngFor="let elemento of data">
                    <th scope="row">{{elemento.id_proveedor}}</th>
                    <td>{{elemento.nom_proveedor}}</td>
                    <td>
                        <button class="btn btn-warning" (click)="actualizar(elemento.id_proveedor)">Actualizar</button>
                    </td>
                </tr>
            </tbody>
        </table>

